<sa-widget id="wid-calendario" [editbutton]="false" [colorbutton]="true" [togglebutton]="true" [deletebutton]="false" [fullscreenbutton]="true"
  [custombutton]="false" [collapsed]="false" [sortable]="true">
  <header>
    <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
    <h2> {{titulo}} </h2>
    <div class="widget-toolbar" *ngIf="desglosable">
      <div class="btn-group" dropdown>
        <button id="single-button" type="button" class="btn btn-xs btn-default" dropdownToggle>
          {{period}} <span class="caret"></span>
        </button>
        <ul dropdownMenu role="menu" aria-labelledby="single-button">
          <li role="menuitem"><a class="dropdown-item" (click)="changeView('month')">Mensual</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="changeView('agendaWeek')">Semanal</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="changeView('agendaDay')">Diario</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div>
    <div class="widget-body no-padding">

      <div class="widget-body-toolbar">
        <div id="calendar-buttons">

          <div class="btn-group">
            <a (click)="prev()" class="btn btn-default btn-xs"><i
              class="fa fa-chevron-left"></i></a>
            <a (click)="next()" class="btn btn-default btn-xs"><i
              class="fa fa-chevron-right"></i></a>
          </div>
        </div>

      </div>


      <div id="calendar"></div>

    </div>

  </div>

  </sa-widget>