<div id="content">
  <div class="row">
    <div class="col-sm-12">
      <sa-widgets-grid>
        <div class="row">
          <article class="col-xs-12">
            <sa-widget id="wid-mi-li-0" [editbutton]="false" [colorbutton]="true" [togglebutton]="true" [deletebutton]="false" [fullscreenbutton]="true"
              [custombutton]="false" [collapsed]="false" [sortable]="true">
              <header>
                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                <h2><strong>Formulario de cliente</strong></h2>
              </header>
              <div>
                <div class="widget-body">
                  <div class="text-center">
                    <div class="pull-left header-button">
                      <a class="btn btn-primary" (click)="atras()" placement="top" tooltip="Página anterior">
                        <i class="fa fa-reply"></i>
                        Volver
                      </a>
                    </div>
                    <h3 class="txt-center minus-left">Lista de Clientes</h3>
                    <span class="pull-right" *ngIf="cargandoDatos">
                          <i class="fa fa-rotate-right fa-spin"></i>
                          Cargando ...
                        </span>
                  </div>
                  <form class="form-horizontal" novalidate="novalidate" #form [saBootstrapValidator]="getValidators()" (submitEvent)="guardar($event)">
                    <fieldset>
                      <legend>Datos del cliente</legend>
                      <div class="form-group">
                        <div class="col-sm-12 col-md-4">
                          <label class="control-label" for="cliDniTipo">Tipo Identificaci&oacute;n*</label>
                          <select class="form-control" id="cliDniTipo" name="cliDniTipo" [(ngModel)]="cliente.cliDniTipo">
                            <option value="cedula">C&eacute;dula</option>
                            <option value="ruc">Ruc</option>
                          </select>
                        </div>

                        <div class="col-sm-12 col-md-4">
                          <label class="control-label" for="cliDni">DNI*</label>
                          <input type="text" class="form-control" id="cliDni" name="cliDni" [(ngModel)]="cliente.cliDni" (focusout)="verificarCliente(cliente.cliDni)">
                        </div>

                        <div class="col-sm-12 col-md-4">
                          <label class="control-label" for="cliNombre">Nombre*</label>
                          <input type="text" class="form-control" id="cliNombre" name="cliNombre" [(ngModel)]="cliente.cliNombre">
                        </div>
                      </div>
                    </fieldset>

                    <fieldset>
                      <legend>Contacto del cliente</legend>
                      <div class="form-group">
                        <div class="col-sm-12 col-md-4">
                          <label class="control-label" for="cliTelefono">Tel&eacute;fono</label>
                          <input type="text" class="form-control" id="cliTelefono" name="cliTelefono" [(ngModel)]="cliente.cliTelefono">
                        </div>

                        <div class="col-sm-12 col-md-4">
                          <label class="control-label" for="cliCelular">Celular</label>
                          <input type="text" class="form-control" id="cliCelular" name="cliCelular" [(ngModel)]="cliente.cliCelular">
                        </div>

                        <div class="col-sm-12 col-md-4">
                          <label class="control-label" for="cliCorreo">Correo</label>
                          <input type="mail" class="form-control" id="cliCorreo" name="cliCorreo" [(ngModel)]="cliente.cliCorreo">
                        </div>

                        <div class="col-sm-12 col-md-12">
                          <label class="control-label" for="cliDireccion">Direcci&oacute;n*</label>
                          <input type="text" class="form-control" id="cliDireccion" name="cliDireccion" [(ngModel)]="cliente.cliDireccion">
                        </div>
                      </div>
                    </fieldset>

                    <fieldset>
                      <legend>Contabilidad del cliente</legend>
                      <div class="form-group">
                        <div class="col-sm-12 col-md-4">
                          <label class="control-label" for="cliContabilidad">Contabilidad*</label>
                          <select class="form-control" id="cliContabilidad" name="cliContabilidad" [(ngModel)]="cliente.cliContabilidad">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                          </select>
                        </div>

                        <div class="col-sm-12 col-md-4">
                          <label for="cliContribuyenteEspecial">Contribuyente Especial*</label>
                          <select class="control-label" class="form-control" id="cliContribuyenteEspecial" name="cliContribuyenteEspecial" [(ngModel)]="cliente.cliContribuyenteEspecial">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                          </select>
                        </div>

                        <div class="col-sm-12 col-md-4">
                          <label class="control-label" for="cliCreditoMonto">Monto Cr&eacute;dito*</label>
                          <input type="text" class="form-control" id="cliCreditoMonto" name="cliCreditoMonto" [(ngModel)]="cliente.cliCreditoMonto">
                        </div>

                        <div class="col-sm-12 col-md-4">
                          <label class="control-label" for="cliDescuento">Descuento*</label>
                          <input type="text" class="form-control" id="cliDescuento" name="cliDescuento" [(ngModel)]="cliente.cliDescuento">
                        </div>
                      </div>
                    </fieldset>

                    <div class="form-actions">
                      <div class="row">
                        <div class="col-md-7">
                          <button class="btn btn-primary" type="submit" placement="top" tooltip="Guardar cliente">
                            <i class="fa fa-save"></i>
                            Guardar
                          </button>
                          <button class="btn btn-warning" type="button" (click)="resetForm('form')" placement="top" tooltip="Limpiar formulario">
                            <i class="fa fa-refresh"></i>
                            Cancelar
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </sa-widget>
          </article>
        </div>
      </sa-widgets-grid>
    </div>
  </div>
</div>
