<div class="login-info">
  <span *ngIf="user"><a (click)="toggleShortcut()">
	   <img src="assets/img/avatars/male.png" alt="me"
          class="online"/><span>{{user.usuario }}</span> <i class="fa fa-angle-down"></i>
  </a>
  </span>
</div>