<div class="onoffswitch-container">
  <span class="onoffswitch-title">{{title}}<ng-content></ng-content></span>
  <span class="onoffswitch">
    <input type="checkbox" class="onoffswitch-checkbox" [(ngModel)]="value" [checked]="value"
           (ngModelChange)="onChange()"
           id="{{widgetId}}"/>
    <label class="onoffswitch-label" htmlFor="{{widgetId}}">
      <span class="onoffswitch-inner"  [attr.data-swchon-text]="onValue"
            [attr.data-swchoff-text]="offValue"></span>
  <span class="onoffswitch-switch"></span>
  </label>
  </span>
</div>
