.d3-map .country:hover {
  stroke: #fff;
  stroke-width: 1.5px;
}

.d3-map .text {
  font-size: 10px;
  text-transform: capitalize;
}

d3-map {
  position: relative;
  display: block;
  padding: 10px;
  overflow: hidden;
}

.d3-map {
  height: 300px;
}

.d3-map .hidden {
  display: none;
}

.d3-map div.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
  right: 0;
  position: absolute;
}

.d3-map .graticule {
  fill: none;
  stroke: #bbb;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.d3-map .equator {
  stroke: #ccc;
  stroke-width: 1px;
}

.d3-zoomin {
  top: 10px;
}

.d3-zoomout {
  top: 34px;
}

.d3-zoomin, .d3-zoomout {
  position: absolute;
  background: #292929;
  padding: 4px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  line-height: 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
  background-color: #fff;
  border: 1px solid #bfbfbf;
}