<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Clientes']" icon="user" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <sa-widgets-grid>
        <div class="row" *ngIf="!nuevo">
          <article class="col-xs-12">
            <sa-widget id="wid-mi-li-0" [editbutton]="false" [colorbutton]="true" [togglebutton]="true" [deletebutton]="false" [fullscreenbutton]="true"
              [custombutton]="false" [collapsed]="false" [sortable]="true">
              <header>
                <h2><strong>Lista de Clientes</strong></h2>
              </header>
              <div>
                <div class="widget-body">
                  <div class="text-center">
                    <div class="pull-left header-button">
                      <a class="btn btn-primary" routerLink="formulario" placement="top" tooltip="Crear cliente">
                        <i class="fa fa-plus-circle"></i>
                        Nuevo
                      </a>
                      <a class="btn btn-primary" (click)="atras()" placement="top" tooltip="Página anterior">
                        <i class="fa fa-reply"></i>
                        Volver
                       </a>
                    </div>
                    <h3 class="txt-center minus-left">Lista de Clientes</h3>
                    <span class="pull-right" *ngIf="cargandoDatos">
                          <i class="fa fa-rotate-right fa-spin"></i>
                          Cargando ...
                        </span>
                  </div>
                  <hr class="simple">
                  <div class="text-center">
                    <span class="pull-right" *ngIf="cargandoDatos">
                      <i class="fa fa-rotate-right fa-spin"></i>
                      Cargando ...
                    </span>
                  </div>
                  <div *ngIf="!cargandoDatos">
                    <table fbg-datatable [options]="{buttons: ['pdf', 'print'], order: [[ 0, 'desc' ]]}" paginationLength="15" pdf="Lista de Clientes"
                      print="Lista de Clientes" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>DNI</th>
                          <th>Nombres</th>
                          <th>Tel&eacute;fono</th>
                          <th>Celular</th>
                          <th>Direcci&oacute;n</th>
                          <th>Correo</th>
                          <th>Monto Cr&eacute;dito</th>
                          <th>Descuento</th>
                          <th class="acciones"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let fila of clientes;">
                          <td>{{fila.cliDni}}</td>
                          <td>{{fila.cliNombre}}</td>
                          <td>{{fila.cliTelefono}}</td>
                          <td>{{fila.cliCelular}}</td>
                          <td>{{fila.cliDireccion}}</td>
                          <td>{{fila.cliCorreo}}</td>
                          <td>{{fila.cliCreditoMonto}}</td>
                          <td>{{fila.cliDescuento}}</td>
                          <td>
                            <a class="btn btn-primary btn-xs" routerLink="formulario/{{fila.cliDni}}" placement="top" tooltip="Editar cliente">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-danger btn-xs" (click)="deleteCliente(fila)" placement="top" tooltip="Eliminar cliente">
                              <i class="fa fa-trash-o"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </sa-widget>
          </article>
        </div>
      </sa-widgets-grid>
    </div>
  </div>
</div>
