<aside id="left-panel">

    <!-- User info -->
    <sa-login-info></sa-login-info>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

        <ul saSmartMenu *ngIf="!cargandoMenu">
            <li routerLinkActive="active">
                <a routerLink="/home" title="Home">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Inicio'}}</span></a>
            </li>
            <li routerLinkActive="active" *ngFor="let item of menu">
                <a [title]="item.nombre">
                    <i class="fa fa-lg fa-fw fa-{{item.icono}}"></i> <span class="menu-item-parent">{{item.nombre}}</span>
                </a>
            </li>
        </ul>
    </nav>

    <sa-minify-menu></sa-minify-menu>

</aside>